<nav>
    <ul class="nav nav-pills pull-right">
        <li class="active"><a href="{{path('homepage') ~ '#menu'}}">Menú</a></li>
        <li><a href="{{path('puntos_venta')}}">Puntos de Venta</a></li>
        <li><a href="{{path('eventos')}}">Eventos</a></li>
        <li><a href="{{path('eventos')}}">Contáctenos</a></li>
    </ul>
</nav>
