<div class="modal fade shopping-modal" id="shoppingModal" tabindex="-1" role="dialog" aria-labelledby="shoppingModalLabel" data-url="{{ path('itemInfo') }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <img src="{{ asset('bundles/app/img/home/menu.png') }}" alt="image">
            </div>
            <div class="modal-body" id="shoppingModalBody">
                <h1 class="modal-title text-center" id="shoppingModalLabel"></h1>
                <p id="shoppingModalDesc" class="item-description-price"></p>

                <div class="row" style="margin-top: 25px;">
                    <div class="col-xs-12">
                        <label for="numberItems">Cantidad</label>
                        <input type="number" id="numberItems" name="numberItems" value="1" min="1" max="20">
                    </div>

                    <div class="col-xs-12 col-sm-6 to-hide">
                        <h3>Acompañamientos</h3>
                        <select name="accompanimentDropdown" id="accompanimentDropdown">
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-6 to-hide">
                        <h3>Bebidas</h3>
                        <select name="drinksDropdown" id="drinksDropdown">
                        </select>
                    </div>
                </div>

                <div class="row adds to-hide">
                    <div class="col-xs-12">
                        <h3 style="margin-bottom: -10px;">Adiciones</h3>
                        <small>Selecciona cuantos quieras</small>
                        <div class="addition-container clearfix" id="additionContainer"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer clearfix" id="shoppingModalFooter">
                <span id="totalPrice" class="total-price pull-left"></span>
                {# <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button> #}
                <button type="button" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>
