{% extends 'base.html.twig' %}

{% block body %}
    <div class="container events-container">
        <img class="logo" src="{{ asset('bundles/app/img/home/logo.png') }}" alt="Del Rodeo Logo">
        <div class="header clearfix">
            {% include 'Partials/publicNav.html.twig' %}
        </div>

        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{{ asset('bundles/app/img/home/slider1.jpg') }}" alt="Del Rodeo Slider Img">
                </div>
            </div>
        </div>

        <div class="row marketing">
            <div class="title text-center">
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                eventos
                <span class="white-dot"></span>
                <span class="white-dot"></span>
                <span class="white-dot"></span>
            </div>
        </div>

        <div class="row marketing boxes">
            <div class="col-lg-offset-2 col-lg-6">
                <a target="_blank" href="https://cdn.flipsnack.com/widget/v2/flipsnackwidget.html?hash=fdh5ycntw&bgcolor=EEEEEE&t=1499287726">
                    <img src="/bundles/app/img/events/kids.gif" alt="Eventos">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
