{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="starter-template">
            <h1>Hamburguesas Del Rodeo</h1>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates consequuntur repellat culpa nostrum. Consequuntur fugiat eum, doloremque, hic sit assumenda repellat nam natus eos, obcaecati nulla perspiciatis aliquid necessitatibus fugit adipisci architecto ratione expedita dignissimos dolores fuga, odit veritatis delectus! Dicta accusantium beatae aperiam commodi id velit cum magnam, distinctio enim sit.</p>
        </div>
    </div>
{% endblock %}
