{% extends 'baseAdmin.html.twig' %}

{% form_theme form 'form/bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container form-container">
        <h1>Nueva Sección</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Crear Sección" class="btn btn-primary"/>
        {{ form_end(form) }}
    </div>
{% endblock %}
