// Importing Bootstrap Sass
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$imgHomePath: '../img/home/';
$transparentBlack: rgba(0, 0, 0, 0.35);

@font-face {
    font-family: docktrin;
    src: url('bundles/app/fonts/docktrin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: bebas;
    src: url('bundles/app/fonts/bebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Space out content a bit */
body {
    color: white;
    background-image: url($imgHomePath + 'bg.jpg');
    background-repeat: repeat;
    background-size: contain;
    font-family: docktrin;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;

    /*
    ** Events
     */
    .home-container,
    .events-container {
        padding-top: 50px;
        position: relative;

        .logo {
            width: 250px;
            position: absolute;
            top: 25px;
            left: 60px;
        }
    }

    nav {
        padding-right: 20px;

        .nav.nav-pills {
            height: 37px;
            background: $transparentBlack;
            margin-top: 16px;

            > li {
                margin-top: -4px;

                > a,
                > a:hover,
                > a:focus,
                &.active > a,
                &.active > a:hover,
                &.active > a:focus {
                    background-color: transparent;
                    color: whitesmoke;
                    padding: 10px 25px;
                }
            }
        }
    }

    /* Everything gets side spacing for mobile first views */
    .header,
    .marketing  {
        padding-right: 15px;
        padding-left: 15px;
    }

    /* Custom page header */
    .header {
        background-image: url($imgHomePath + 'header-bg.jpg');
        background-size: contain;
        height: 70px;
    }

    /* Supporting marketing content */
    .marketing,
    .footer {
        background-image: url($imgHomePath + 'marketing-bg.jpg');
        background-repeat: repeat;
        background-size: cover;
        max-width: 1140px !important;

        &.inherit-container { background-size: inherit; }
    }

    .marketing {
        margin: 0;
        padding-top: 20px;

        .img-container,
        .img-container-shadow {
            position: relative;
            padding: 15px;

            img {
                &.combo { width: 100%; }

                &.shopping-car {
                    bottom: 10px;
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    width: 50px;
                }
            }
        }

        .img-container { padding: 0; }

        .img-container-shadow {
            background-color: $transparentBlack;

            &.blank {
                background-color: transparent;
            }

            .item-name {
                font-size: 30px;
                line-height: .9;
                height: 95px;
                position: relative;
                padding: 0;
                display: flex;
                align-items: center;

                h3 { margin: 0; }
            }

            .item-description-price {
                font-family: bebas;
                font-size: 35px;

                p {
                    font-size: 22px;
                    line-height: 1;
                }
            }
        }


        .title {
            background-color: $transparentBlack;
            color: whitesmoke;
            font-size: 40px;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 30px 20px 20px;

            &.menu-title {
                position: relative;
                padding: 0 20px;
                height: 150px;
                display: flex;
                align-items: center;

                > span {
                    text-align: center;
                    width: 50%;
                    float: left;
                    height: 60px;

                    h2 {
                        margin: 0;
                        font-size: 37px;
                        line-height: .85;
                    }

                    .white-dot { margin-top: -10px; }
                }

                .title-image {
                    max-width: 350px;
                    margin: 0 0 0 5%;
                    right: 0;
                    position: absolute;
                }
            }
        }

        .title-md {
            margin-top: 0px;
            padding: 10px 0 5px;
        }

        .white-dot {
            width: 18px;
            height: 18px;
            background-color: white;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            box-shadow: white 0px 0px 8px 1px;
        }

        .panel {
            width: 70%;
            margin: 0 auto -20px;
            background-color: transparent;
            border: none;

            a:hover,
            a:active,
            a:focus,
            a:visited {
                text-decoration: none;
            }

            &:nth-child(even) {
                .menu-title {
                    > span {
                        position: absolute;
                        right: 0;
                    }

                    .title-image {
                        left: 0;
                        margin-left: 0;
                    }
                }
            }

            .marketing {
                background: none;
                padding-top: 0;
            }
        }
    }

    /*
    ** Events
     */
    .events-container {
        .marketing.boxes {
            padding-bottom: 40px;
        }

        .boxes {
            padding-right: 20px;
        }
    }

    .box {
        font-family: bebas;
        background: $transparentBlack;
        padding-top: 20px;

        &.form { margin-bottom: 40px; }
    }

    .map { margin-left: 30px; }


    /*
    ** Footer
     */
    .contact-form {
        width: 60%;
        margin: 0 auto;
        input, a {
            display: block;
            width: 100%;
            margin: 10px 0;
        }
    }

    /*
    ** Footer
     */
    .footer {
        color: whitesmoke;

        > .row {
            padding: 70px 11% 30px 11%;
            background-color: rgba(0, 0, 0, 0.45);

            .footer-container {
                margin-bottom: 20px;

                &:first-child { margin-bottom: 40px; }
                &:nth-child(2n) { margin-bottom: 0px; }

                .social-icons { margin-bottom: 40px; }

                a { color: whitesmoke; }
            }
        }
    }

    /* Responsive: Desktop wide and up */
    @media screen and (min-width: 1200px) {
        .marketing {
            .row { margin-bottom: 30px; }

            .img-container,
            .img-container-shadow {
                &:first-child,
                &:nth-child(2n),
                &:nth-child(4n),
                &:nth-child(5n),
                &:nth-child(7n) { margin-right: 50px; }
            }
        }
    }

    /* Responsive: Portrait tablets and up */
    @media screen and (min-width: 768px) {
        /* Remove the padding we set earlier */
        .header,
        .marketing {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
