// Importing Bootstrap Sass
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$imgGlobalPath: '../img/global/';
$imgHomePath: '../img/home/';
$transparentBlack: rgba(0, 0, 0, 0.35);

@font-face {
    font-family: docktrin;
    src: url('bundles/app/fonts/docktrin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: bebas;
    src: url('bundles/app/fonts/bebasNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Space out content a bit */
body {
    color: white;
    background-image: url($imgGlobalPath + 'bg.jpg');
    background-repeat: repeat;
    font-family: docktrin;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;

    .domi {
        width: 250px;
        float: right;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    /*
    ** Events
     */
    .home-container,
    .events-container {
        padding-top: 50px;
        position: relative;

        .logo {
            width: 280px;
            position: absolute;
            top: 2px;
            left: 30px;
            @media screen and (max-width: 960px) {
                width: 210px;
                top: 22px;
                left: 16px;
            }
            @media screen and (max-width: 768px) {
                width: 192px;
                top: 30px;
                left: 19px;
            }
            @media screen and (max-width: 667px) {
                top: 36px;
            }
            @media screen and (max-width: 600px) {
                width: 162px;
            }
            @media screen and (max-width: 568px) {
                left: 15px;
                width: 180px;
            }
            @media screen and (max-width: 414px) {
                position: relative;
                margin-top: -94px;
                margin-left: 85px;
            }
            @media screen and (max-width: 375px) {
                margin-left: 74px;
            }
            @media screen and (max-width: 360px) {
                margin-left: 64px;
            }
            @media screen and (max-width: 320px) {
                margin-left: 45px;
            }
        }
    }

    nav {
        padding-right: 20px;

        .nav.nav-pills {
            height: 37px;
            background: $transparentBlack;
            margin-top: 16px;
            @media screen and (max-width: 1200px) {
                margin-right: -20px;
            }
            @media screen and (max-width: 754px) {
                margin-right: -30px;
            }
            @media screen and (max-width: 600px) {
                margin-right: -35px;
                height: 30px;
                margin-top: 12px;
            }
            @media screen and (max-width: 568px) {
                margin-top: 20px;
            }
            @media screen and (max-width: 414px) {
                margin-right: -21px;
            }

            > li {
                margin-top: -4px;

                > a,
                > a:hover,
                > a:focus,
                &.active > a,
                &.active > a:hover,
                &.active > a:focus {
                    background-color: transparent;
                    color: whitesmoke;
                    padding: 10px 25px;
                    @media screen and (max-width: 960px) {
                        padding: 12px 15px;
                    }
                    @media screen and (max-width: 768px) {
                        padding: 12px 10px;
                    }
                    @media screen and (max-width: 375px) {
                        padding: 12px 5px;
                    }
                }
            }
        }
    }

    /* Everything gets side spacing for mobile first views */
    .header,
    .marketing  {
        padding-right: 15px;
        padding-left: 15px;
    }

    /* Custom page header */
    .header {
        background-image: url($imgGlobalPath + 'header-bg.jpg');
        background-size: contain;
        height: 70px;
        font-size: .88em;
        @media screen and (max-width: 960px) {
            font-size: .75em;
        }
        @media screen and (max-width: 667px) {
            font-size: .65em;
        }
        @media screen and (max-width: 568px) {
            font-size: .55em;
        }
        @media screen and (max-width: 360px) {
            font-size: .53em;
        }
        @media screen and (max-width: 320px) {
            font-size: .44em;
        }
    }

    /* Supporting marketing content */
    .marketing {
        background-image: url($imgGlobalPath + 'marketing-bg.jpg');
        background-repeat: repeat;
        background-size: cover;
        max-width: 1020px !important;

        &.inherit-container { background-size: contain; }
    }

    .marketing {
        img {
            max-width: 100%;
        }

        margin: 0;
        padding-top: 20px;

        .accordion-container {
            @media screen and (max-width: 760px) {
                margin-top: -30px;
            }
            @media screen and (max-width: 740px) {
                margin-top: -60px;
            }
        }

        .sales-box { margin-bottom: 15px; }

        .img-container,
        .img-container-shadow {
            position: relative;
            padding: 15px;

            img {
                &.combo { width: 100%; }

                &.shopping-car {
                    bottom: 10px;
                    cursor: pointer;
                    position: absolute;
                    right: 10px;
                    width: 1.1em;
                }
            }
        }

        .img-container {
            padding: 0;
            @media screen and (max-width: 1024px) {
               margin-right: 40px;
            }
            @media screen and (max-width: 740px) {
                width: 50%;
                margin-left: 25%;
                margin-top: 10px;
            }
        }

        .img-container-shadow {
            background-color: $transparentBlack;
            margin-bottom: 10px;
            @media screen and (min-width: 768px) and (max-width: 1199px) {
                margin-right: 4%;
                margin-bottom: 5%;
            }

            &.blank {
                background-color: transparent;
            }

            .item-name {
                line-height: .9;
                height: 90px;
                position: relative;
                padding: 0;
                display: flex;
                align-items: center;

                h3 {
                    margin: 0;
                    font-size: .85em;
                    width: 100%;
                    @media screen and (min-width: 768px) and (max-width: 1023px) {
                        font-size: .7em;
                    }
                }
            }

            .item-description-price {
                font-family: bebas;
                font-size: 1.2em;

                p {
                    font-size: .55em;
                    line-height: 1;
                }
            }
        }


        .title {
            background-color: $transparentBlack;
            color: whitesmoke;
            font-size: 1.1em;
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 15px 20px 10px;
            @media screen and (max-width: 500px) {
                font-size: .7em;
            }
            @media screen and (max-width: 320px) {
                font-size: .6em;
            }

            &.menu-title {
                position: relative;
                padding: 0 20px;
                height: 150px;
                display: flex;
                align-items: center;
                @media screen and (max-width: 960px) {
                    height: 92px;
                }
                @media screen and (max-width: 670px) {
                    height: 80px;
                }
                @media screen and (max-width: 658px) {
                    height: 68px;
                }
                @media screen and (max-width: 414px) {
                    height: 50px;
                }
                @media screen and (max-width: 360px) {
                    height: 40px;
                }
                @media screen and (max-width: 320px) {
                    height: 36px;
                }

                > span {
                    text-align: center;
                    width: 50%;
                    float: left;
                    height: 60px;
                    padding-top: 2%;
                    @media screen and (max-width: 414px) {
                        padding-top: 8%;
                    }
                    @media screen and (max-width: 360px) {
                        padding-top: 11%;
                    }
                    @media screen and (max-width: 320px) {
                        padding-top: 13%;
                    }

                    h2 {
                        margin: 0;
                        font-size: .85em;
                        line-height: .85;
                        @media screen and (max-width: 960px) {
                            font-size: .75em;
                        }
                        @media screen and (max-width: 670px) {
                            font-size: .6em;
                        }
                        @media screen and (max-width: 568px) {
                            font-size: .55em;
                        }
                        @media screen and (max-width: 375px) {
                            font-size: .5em;
                        }
                    }

                    .white-dot {
                        margin-top: -10px;
                        @media screen and (max-width: 320px) {
                            margin-top: -5px;
                        }
                    }
                }

                .title-image {
                    max-width: 350px;
                    margin: 0 0 0 5%;
                    right: 0;
                    position: absolute;
                    @media screen and (max-width: 960px) {
                        max-width: 50%;
                    }
                }
            }
        }

        .title-md {
            margin-top: 0px;
            padding: 10px 0 5px;
        }

        .white-dot {
            width: .33em;
            height: .33em;
            background-color: white;
            display: inline-block;
            border-radius: 50%;
            vertical-align: middle;
            box-shadow: white 0px 0px 8px 1px;
        }

        .panel {
            width: 70%;
            margin: 0 auto -20px;
            background-color: transparent;
            border: none;

            a:hover,
            a:active,
            a:focus,
            a:visited {
                text-decoration: none;
            }

            &:nth-child(even) {
                .menu-title {
                    > span {
                        position: absolute;
                        right: 0;
                    }

                    .title-image {
                        left: 0;
                        margin-left: 0;
                    }
                }
            }

            .marketing {
                background: none;
                padding-top: 0;
            }
        }
    }

    /*
    ** Events
     */
    .events-container {
        .marketing.boxes {
            padding-bottom: 40px;
        }

        .boxes {
            padding-right: 20px;
        }
    }

    .box {
        font-family: bebas;
        background: $transparentBlack;
        padding-top: 20px;

        &.form { margin-bottom: 40px; }
    }

    .map { margin-left: 30px; }

    /*
    ** Footer
     */
    .footer {
        background-image: url($imgGlobalPath + 'footer-bg.jpg');
        color: #432b1c;
        font-size: .5em;
        @media screen and (min-width: 376px) {
            font-size: .7em;
        }
        font-family: bebas;
        padding: 20px 50px;
        max-width: 1020px !important;
        @media screen and (min-width: 769px) and (max-width: 1199px) {
            width: 940px;
        }
        @media screen and (min-width: 741px) and (max-width: 768px) {
            width: 720px;
        }
        @media screen and (max-width: 740px) {
            margin: 0 15px;
        }

        h4 { margin-bottom: 25px; }

        ul {
            li {
                margin: 10px 0;

                a {
                    color: #432b1c;

                    span { vertical-align: sub; }
                }
            }
        }

        img {
            float: left;
            margin-right: 10px;
            @media screen and (min-width: 769px) { margin-left: 3em; }
            width: 25px;
        }

        .copyright {
            @media screen and (min-width: 1200px) {
                margin-top: 85px;
            }
        }
    }

    /*
    ** Contact Form
     */
    .contact-form {
        width: 60%;
        margin: 0 auto;
        input, a {
            display: block;
            width: 100%;
            margin: 10px 0;
        }
    }

    /*
    ** Shopping Modal
     */
    .modal {
        .modal-content {
            background-image: url($imgGlobalPath + 'modal-bg.jpg');
            background-size: contain;
            color: #432b1c;
            font-family: bebas;

            .modal-header {
                background-image: url($imgHomePath + 'madera.png');
                height: 300px;
                background-repeat: no-repeat;
                background-position: bottom;
                background-size: contain;

                img {
                    width: 60%;
                    margin-left: 20%;
                }
            }

            .modal-body {
                font-size: .8em;
            }

            .item-description-price {
                font-size: .8em;
                text-align: center;
            }

            select { font-size: 17px; }
            small { font-size: 14px; }
            h3 { margin-bottom: 0; }
            ul {
                margin-top: 15px;

                li {
                    width: 45%;
                    float: left;
                    margin-right: 5%;

                    span {
                        vertical-align: text-top;
                        font-size: 17px;
                    }
                }
            }

            .adds { margin-top: 20px; }
        }
    }

    /* Responsive: Desktop wide and up */
    @media screen and (min-width: 1200px) {
        .marketing {
            .row { margin-bottom: 30px; }

            .img-container,
            .img-container-shadow {
                &:first-child,
                &:nth-child(2n),
                &:nth-child(4n),
                &:nth-child(5n),
                &:nth-child(7n) { margin-right: 50px; }
            }
        }

        .container {
            width: 1050px;
        }
    }

    /* Responsive: Portrait tablets and up */
    @media screen and (min-width: 768px) {
        /* Remove the padding we set earlier */
        .header,
        .marketing {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
